*{
    margin: 0;
}
html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

p{
    line-height: 20px;
    margin-bottom: 20px;

}

a{
    color: #202020;
}


header{
    background-image: url(../img/sand.jpg);
   background-size: cover;
   height: 250px;
   margin-bottom: 30px;

}
.site-header{
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 100px;

}

.sitebar{
    width: 18%;
}

h3 {
    margin-bottom: 20px;
    padding-left: 20px;
}


ul li{
    line-height: 30px;
   
   
}
ul li a:hover{
    font-size: 20px;
}

ul li a {
    text-decoration: none;
}

article{
    width:55%;
}

aside{
    width: 20%;
}

img{
    max-width: 300px;
}
.site-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.footer{
    font-size: 12px;
    background-image: url(../img/sand.jpg);
    color: white;
    margin-top: 30px;
    padding-top: 20px;
    
}


